* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body .body {
    height: 100vh;
    background-color: #000;
    background-image: url('assets/comp-repairs.jpg');
    background-size: cover;
    background-position: center;
}

body.light-mode {
    --bg-color: #fff;
    --text-color: #000;
    --primary-color: #0066ff;
}

.nav-items {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #ffa500;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .logo a {
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .hamburger {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.hamburger, .mode-toggle {
    cursor: pointer;
    color: var(--text-color);
}

.hamburger i, .mode-toggle i {
    font-size: 1.5rem;
}

.mode-toggle {
    display: flex;
    align-items: center;
}

.mode-toggle span {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.drop-menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 100%;
    background: none;
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    overflow: hidden;
    display: none; 
    flex-direction: column;
    padding: 0;
}

.drop-menu ul {
    list-style: none;
}

.drop-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-menu a {
    width: 100%;
    text-align: center;
}


.drop-menu.active {
    display: flex;
}


.services-dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%; 
    left: 0;
    z-index: 999;
    font-size: 5px;
}

.dropdown-content li {
    padding: 10px;
    text-align: center;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #ffa500;
}

.services-dropdown:hover .dropdown-content {
    display: flex;
}

.drop-menu .services-dropdown:hover .dropdown-content {
    display: flex;
}

section {
    padding: 100px 20px;
    height: 100vh; 
    color: #fff;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out; 
}

section:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}

#home { 
    background-color: transparent; 
}

#about { 
    background-color: transparent; 
}

#services { 
    background-color: transparent; 
}

#contact { 
    background-color: transparent; 
}

#home:hover { 
    background-color: rgba(0, 0, 0, 0.7); 
}

#about:hover { 
    background-color: rgba(50, 50, 50, 0.7); 
}

#services:hover { 
    background-color: rgba(100, 100, 100, 0.7); 
}

#contact:hover { 
    background-color: rgba(150, 150, 150, 0.7);
}

.map-container {
    position: relative;
    padding-bottom: 30%; 
    height: 0;
    overflow: hidden;
    max-width: 50%; 
    margin-top: 20px auto;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

@media (max-width: 612px) {
    .navbar .links {
        display: none; 
    }

    .navbar .hamburger {
        display: block; 
    }
}

@media (min-width: 612px) {
    .drop-menu {
        display: none !important;
    }

    .navbar .links {
        display: flex;
        gap: 2rem;
    }

    .navbar .hamburger {
        display: none;
    }
}

@media (max-width: 612px) {
    .dropdown-content {
        position: static    ;
        display: none;
        background-color: transparent;
    }

    .dropdown-content.show {
        display: block;
    }

    .services-dropdown {
        position: static;
    }

    .drop-menu .dropdown-content {
        padding-left: 20px; 
    }

    
    .drop-menu .services-dropdown .dropdown-content {
        display: none;
    }

    .drop-menu .services-dropdown.active .dropdown-content {
        display: block;
    }
}

.footer {   
    text-align: center;
    height: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #000;
    opacity: 90%;
    padding: 70px 10px;
}

#form-section {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#form-section h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    display: block; 
}

input, textarea {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: border-color 0.3s;
    opacity: 0.7; 
}

input:focus, textarea:focus {
    border-color: #ffa500;
    opacity: 1; 
}

textarea {
    resize: vertical; 
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#button-container {
    display: flex;             
    justify-content: space-between;  
    margin-top: 20px;        
}

#button-container button {
    width: 48%;              
}


button:hover {
    background-color: orangered;
}
